body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  /* overflow-x: auto; */
  /* padding-right: 17px; */
  box-sizing: content-box;
  background: #101010;
}

.contactContent {
  position: absolute;
  right: 0;
  max-width: max-content;
  /* margin-left: auto; */
  /* height: 100vh; */
}

.titleSection {
}

.contactContent > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.contactContent h2,
p,
a {
  color: white;
  text-align: right;
  margin: 0;
}

.contactContent h2 {
  margin-right: 1rem;
  margin-top: 1rem;
}

.backgroundImage {
  position: relative;
  background-image: url(../code/assets/images/background.jpg);
  background-size: cover;
  height: 101vh;
  overflow-x: auto;
  pointer-events: none;
  /* box-sizing: content-box; */
}

.logo {
  position: absolute;
  right: 1rem;
  bottom: 0rem;
}

.logo svg {
  /* width: 5rem; */
  fill: white;
  stroke: white;
}

.logo svg path {
  stroke-width: 1px;
}

.navigationBar {
  /* padding: 0.5rem; */
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 101;
  border: 3px solid white;
  border-style: dotted;
  display: flex;
  align-items: center;
}

.navigationBar div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.leftArrow {
  margin: 0;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 10rem;
}

.rightArrow {
  margin: 0;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 10rem;
}

.titleText {
  background-color: transparent;
  border: 1px solid black;
  width: calc(100vw - 150px);
  height: 95vh;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleText > div {
  position: relative;
  height: 100%;
  width: 100%;
}
